@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Fredoka", serif;

}

header {
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: white;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 20px;
    color: white;
}

h2 {
    color: white;
    border-bottom: 2px solid rgb(198, 198, 13);
    padding-bottom: 5px;
}

p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background:rgb(198, 198, 13);;
    position: relative;
    bottom: 0;
    width: 100%;
}